@media only screen and (max-width: 650px )
{
  body{
  background-image: url("Pictures/backg.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  h1, h2, h3{
    text-align: center;
    color: #FFFFFF;
  }
.img1{
    display:inline-block;
    max-width: 150px;
    max-height: 150px;
    width: 50%;
    margin: 15% 20% 0% 25%;
  }
.first_name{
    display: inline-block;
    margin: 5% 15% 1% 15%;
    color: #FFFFFF;
    font-size: 24px;
  }
.Date{
    display: inline-block;
    margin: 10% 25% 0% 25%;
    color: #FFFFFF;
  }
.date1{
    display: inline-block;
    margin: 5% 5% 0% 5% ;
    color: #FFFFFF;
  }
.Age{
    display: inline-block;
    margin: 0% 31% 0% 31% ;
    color: #FFFFFF;
  }
.location{
    display: inline-block;
    margin: 15% 10% 0% 10% ;
    color: #FFFFFF;
  }

  }
