@media only screen and (max-width: 650px )
{
  body{
    background-image: url("Pictures/backg.jpg");
  }
  h1, h2, h3{
    text-align: center;
    color: #FFFFFF;
  }


  .dropbrnl{
    background: rgba(127,252,0,0.2);
    border-radius: 15px;
    color: white;
    padding: 10px 30px 10px 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdownlang{
    position: relative;
    display: inline-block;
    margin: 3% 70% -3% 80%;
  }
  .dropdownlang-content{
    display: none;
    position: absolute;
    background: rgba(127,252,0,0.2);
    border-radius: 15px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(173, 255, 0, 0.2);
    z-index: 10000;
  }
  .dropdownlang-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdownlang-content a:hover{
    background:rgba(173, 255, 0, 0.3);
    border-radius: 15px;
  }
  .show{display: block;}



  .img1{
    display:inline-block;
    max-width: 150px;
    max-height: 150px;
    width: 50%;
    margin: 15% 20% 0% 25%;
  }
  .first_name{
    display: inline-block;
    margin: 5% 15% 1% 15%;
    color: #FFFFFF;
    font-size: 24px;
  }
  .Date{
    display: inline-block;
    margin: 10% 25% 0% 25%;
    color: #FFFFFF;
  }
  .date1{
    display: inline-block;
    margin: 5% 5% 0% 5% ;
    color: #FFFFFF;
  }
  .Age{
    display: inline-block;
    margin: 0% 31% 0% 31% ;
    color: #FFFFFF;
  }
  .location{
    display: inline-block;
    margin: 15% 10% 0% 10% ;
    color: #FFFFFF;
  }



  .gallery{
    width:100%;
  }
  .gallery-container{
    align-items: center;
    display: flex;
    height: 550px;
    margin: 20px auto;
    max-width: 450px;
    position: relative;
  }
  .gallery-item{
    text-align: center;
    height: 50%;
    opacity: .4;
    position:absolute;
    transition: all 0.3s ease-in-out;
    width: 50%;
    z-index:0;
    border-radius: 90px;
    border: 3px solid rgba(255, 255, 255, 0.6);
    background: url("Pictures/backg2.png")center/cover repeat;
  }
  .gallery-item.gallery-item-selected {
    text-align: center;
    font-size: 14px;
    border-radius: 90px;
    border: 3px solid rgba(255, 255, 255, 0.6);
    height: 100%;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 2;
    background: url("Pictures/backg2.png")center/cover repeat;
  }

  .gallery-item.gallery-item-previous,
  .gallery-item.gallery-item-next {
    height: 200px;
    opacity: 1;
    width: 200px;
    z-index: 1;
  }

  .gallery-item.gallery-item-previous {
    left: 30%;
    font-size: 5%;
    transform: translateX(-50%);
  }

  .gallery-item.gallery-item-next {
    font-size: 5%;
    left: 70%;
    transform: translateX(-50%);
  }

  .gallery-item.gallery-item-first {
    font-size: 5%;
    left: 15%;
    transform: translateX(-50%);
  }

  .gallery-item.gallery-item-last {
    font-size: 5%;
    left: 85%;
    transform: translateX(-50%);
  }

  .gallery-controls {
    display: flex;
    justify-content: center;
    margin: 30px 0;
  }

  .gallery-controls button {
    border-radius: 15px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    margin: 25px 0px 0px 50px;
    padding: 0 12px;
    text-transform: capitalize;
  }

  .gallery-controls button:focus {
    outline: none;
  }

  .gallery-controls-previous {
    position: relative;
  }

  .gallery-controls-previous::before {
    border: solid #FFFFFF;
    border-width: 5px 2px 2px 0;
    display: inline-block;
    height: 4px;
    left: -10px;
    padding: 2px;
    position: absolute;
    top: 0;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 4px;
  }

  .gallery-controls-previous:hover::before {
    left: -18px;
  }

  .gallery-controls-next {
    position: relative;
  }

  .gallery-controls-next::before {
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    height: 4px;
    padding: 2px;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 4px;
  }

  .gallery-controls-next:hover::before {
    right: -18px;
  }

  .gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0% 0% -4% 0%;
    position: absolute;
    width: 100%;
  }

  .gallery-nav li {
    background: rgba(0,255, 0, 0.5);
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
  }

  .gallery-nav li.gallery-item-selected {
    background: #555;
  }
}
